@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* nav bar指定 */
ul.kr_travel_list > li:first-child > a{
  text-decoration: underline;
}

/* 標題大banner */
div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/area/banner.png);
  height: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
@media all and (max-width: 359.98px){
  div.banner_img{
    height: 270px;
  }
}

@media all and (min-width: 360px) and (max-width: 575.98px){
  div.banner_img{
    height: 300px;
  }
}


@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
    div.banner_img{
      height: 350px;
    }
}

@media all and (min-width: 768px) and (max-width: 1199.98px){
    /* width: 960px; */
    div.banner_img{
      height: 450px;
    }
}


main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* 標題 */
h2.title{
  /* border: 1px solid blue; */
  border-radius: 10px;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateY(-50%);
  width: 388px;
  height: 120px;
  background-color: rgba(179, 22, 65, 0.7);
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  color: white;
}
@media all and (max-width: 359.98px){
  h2.title{
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    line-height: 60px;
    font-size: 28px;
  }

}

@media all and (min-width: 360px) and (max-width: 575.98px){
   /* width: 320px */
   h2.title{
     width: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 80px;
     line-height: 80px;
     font-size: 32px;
   }

}

@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
    h2.title{
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100px;
      line-height: 100px;
      font-size: 36px;
    }
}

@media all and (min-width: 768px) and (max-width: 991.98px){
    /* width: 720px; */
    h2.title{
      font-size: 36px;
      width: 300px;
      height: 100px;
      line-height: 100px;
      left: 5%;
    }
}

@media all and (min-width: 992px) and (max-width: 1199.98px){
    /* width: 960px; */
    h2.title{
      width: 350px;
      left: 5%;
    }
}


/* 地圖 */
div.map{
  /* border: 1px solid black; */
  width: 100%;
}

div.map > img{
  width: 100%;
  padding-top: 50px;
}

/* 區域 */
article{
  /* border: 1px solid red; */
  /* display: flex; */
  border-radius: 10px;
  font-size: 0px;
  max-width: 1140px;
  margin: 0 5%;
  display: none;
  position: absolute;
  z-index: 2;
}

article > img{
  /* border: 1px solid black; */
  padding: 3px;
  border-radius: 50%;
  background-color: #C4C4C4;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 1s;
}

article > img:hover{
  cursor: pointer;
  transform: translateY(-100%) scale(150%, 150%);
}

div.text{
  padding: 2% 5%;
}

div.text > h3{
  font-size: 24px;
  font-weight: bolder;
}

div.text > p{
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1px;
  padding-left: 10%;
}

article div.picture{
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 40%;
}

article div.picture a{
  height: 33.33%
}

article div.picture img{
  opacity: .8;
  transition-property: all;
  transition-duration: .5s;
  position: relative;
  z-index: 1;
}

article div.picture img:hover{
  transform: scale(110%, 110%);
  opacity: 1;
  z-index: 2;
}

article.-on{
  display: flex;
}


/* 單獨設定 */

article.gangneung{
  top: 17%;
  background-color: #A0B4E7;
}
article.gangneung h3{
  text-shadow: 2px 2px 2px #0E376F;
}

article.seoul{
  top: 29%;
  background-color: #EB9090;
}
article.seoul h3{
  text-shadow: 2px 2px 2px #B31641;
}

article.daegu{
  top: 49%;
  background-color: #EB9090;
}
article.daegu h3{
  text-shadow: 2px 2px 2px #B31641;
}

article.busan{
  top: 61%;
  background-color: #A0B4E7;
}
article.busan h3{
  text-shadow: 2px 2px 2px #0E376F;
}

article.jeju{
  top: 69%;
  background-color: #A0B4E7;
}
article.jeju h3{
  text-shadow: 2px 2px 2px #0E376F;
}

@media all and (max-width: 359.98px){
  article.-on{
    flex-direction: column;
    width: 90%;
  }
  article div.text h3{
    font-size: 16px;
    padding-left: 3%;
  }
  article div.text p{
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  article div.picture{
    flex-direction: row;
    border-radius: 0 0 10px 10px;
  }
  article div.picture a{
    width: 33.33%;
    height: 40px;
    overflow: hidden;
  }
  article div.picture img{
    transform: translateX(-30%);
    height: 100%;
    opacity: 1;
  }


}

@media all and (min-width: 360px) and (max-width: 575.98px){
   /* width: 320px */
   article.-on{
     flex-direction: column;
     width: 90%;
   }
   article div.text h3{
     font-size: 20px;
     padding-left: 3%;
   }
   article div.text p{
     font-size: 12px;
     line-height: 28px;
     letter-spacing: 0px;
   }

   article div.picture{
     flex-direction: row;
     border-radius: 0 0 10px 10px;
   }
   article div.picture a{
     width: 33.33%;
     height: 80px;
     overflow: hidden;
   }
   article div.picture img{
     transform: translateX(-30%);
     height: 100%;
   }


}

@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
    article.-on{
      flex-direction: column;
      width: 90%;
    }
    article div.text h3{
      font-size: 24px;
      padding-left: 3%;
    }
    article div.text p{
      font-size: 16px;
      line-height: 32px;
    }

    article div.picture{
      flex-direction: row;
      border-radius: 0 0 10px 10px;
    }
    article div.picture a{
      width: 33.33%;
      height: 90px;
      overflow: hidden;
    }
    article div.picture img{
      transform: translateX(-30%);
      height: 100%;
    }


}

@media all and (min-width: 768px) and (max-width: 991.98px){
    /* width: 720px; */
    article.-on{
      flex-direction: column;
      width: 90%;
    }
    article div.text h3{
      font-size: 24px;
      padding-left: 3%;
    }

    article div.picture{
      flex-direction: row;
      border-radius: 0 0 10px 10px;
    }
    article div.picture a{
      width: 33.33%;
      overflow: hidden;
    }
    article div.picture img{
      transform: translateX(-30%) ;
    }

}
@media all and (min-width: 992px) and (max-width: 1199.98px){
    /* width: 960px; */
    article.-on{
      width: 90%;
      margin: 0 5%;
    }

}


/* 按鈕 */
main button{
  position: absolute;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px;
  /* z-index: 5; */
}

main button:hover{
  cursor: pointer;
  box-shadow: 0 0 8px #C4C4C4;
}

#gangneung:hover, #busan:hover, #jeju:hover{
  background-color: #A0B4E7;
}

#seoul:hover, #daegu:hover{
  background-color: #EB9090;
}

#gangneung{
  top: 17%;
  right: 12%;
  background-color: rgba(160, 180, 231, 0.7);
  border: 2px solid #0E376F;
}

#seoul{
  top: 29%;
  left: 30%;
  background-color: rgba(235, 144, 144, 0.7);
  border: 2px solid #B31641;
}

#daegu{
  top: 49%;
  right: 18%;
  background-color: rgba(235, 144, 144, 0.7);
  border: 2px solid #B31641;
}

#busan{
  top: 61%;
  right: 10%;
  background-color: rgba(160, 180, 231, 0.7);
  border: 2px solid #0E376F;
}

#jeju{
  top: 92%;
  left: 20%;
  background-color: rgba(160, 180, 231, 0.7);
  border: 2px solid #0E376F;
}
@media all and (max-width: 359.98px){
  main button{
    width: 100px;
    font-size: 18px;
  }
}

@media all and (min-width: 360px) and (max-width: 575.98px){
   /* width: 320px */
   main button{
     width: 120px;
     font-size: 18px;
   }
}

@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
    main button{
      width: 150px;
      font-size: 20px;
    }

}


/* RWD */
@media all and (max-width: 359.98px){
}

@media all and (min-width: 360px) and (max-width: 575.98px){
   /* width: 320px */
}

@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
}

@media all and (min-width: 768px) and (max-width: 991.98px){
    /* width: 720px; */
}

@media all and (min-width: 992px) and (max-width: 1199.98px){
    /* width: 960px; */
}

@media all and (min-width: 1200px){
    /* width: 1140px; */
}
