@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* 標題大banner */
div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/area/banner.png);
  height: 480px;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* 標題 */
h2.title{
  /* border: 1px solid blue; */
  border-radius: 10px;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateY(-50%);
  width: 388px;
  height: 120px;
  background-color: rgba(179, 22, 65, 0.7);
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  color: white;
}

/* 地圖 */
div.map{
  border: 1px solid black;
  width: 100%;
  /* height: 2000px;
  background-image: url(../images/area/map.png);
  background-repeat: no-repeat;
  background-position: center ;
  background-size: 100%; */
}

div.map > img{
  width: 100%;
  padding-top: 50px;
}

/* 區域 */
article{
  border: 1px solid red;
  /* display: flex; */
  font-size: 0px;
  display: none;
  /* opacity: 0;
  transition: opacity 1s; */
  position: absolute;
  z-index: 2;
}

div.text{
  padding: 25px 50px;
}

div.text > h3{
  font-size: 24px;
  font-weight: bolder;
}

div.text > p{
  font-size: 16px;
  line-height: 40px;
}

/* 單獨設定 */
article.gangneung{
  top: 20%;
  background-color: #A0B4E7;
}

article.seoul{
  top: 32%;
  background-color: #EB9090;
}

article.daegu{
  top: 52%;
  background-color: #EB9090;
}

article.busan{
  top: 64%;
  background-color: #A0B4E7;
}

article.jeju{
  top: 69%;
  background-color: #A0B4E7;
}

article.-on{
  display: flex;
  /* opacity: 1;
  transition: opacity 1s; */
}


/* 按鈕 */
main button{
  position: absolute;
  /* z-index: 5; */
}

main button:hover{
  cursor: pointer;
  box-shadow: 0 0 8px #C4C4C4;
}

#gangneung:hover, #busan:hover, #jeju:hover{
  background-color: #A0B4E7;
}

#seoul:hover, #daegu:hover{
  background-color: #EB9090;
}

#gangneung{
  top: 17%;
  right: 12%;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(160, 180, 231, 0.7);
  border-radius: 10px;
  border: 2px solid #0E376F;
}

#seoul{
  top: 29%;
  left: 30%;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(235, 144, 144, 0.7);
  border-radius: 10px;
  border: 2px solid #B31641;
}

#daegu{
  top: 49%;
  right: 18%;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(235, 144, 144, 0.7);
  border-radius: 10px;
  border: 2px solid #B31641;
}

#busan{
  top: 61%;
  right: 10%;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(160, 180, 231, 0.7);
  border-radius: 10px;
  border: 2px solid #0E376F;
}

#jeju{
  top: 92%;
  left: 20%;
  width: 175px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(160, 180, 231, 0.7);
  border-radius: 10px;
  border: 2px solid #0E376F;
}
