@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* banner */
div.banner_img{
    /* border: 1px solid black; */
    background-image: url(../images/customize/banner.png);
    height: 600px;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    position: relative;
    z-index: -1;
}
    
h1.title{
    /* border: 1px solid red; */
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 790px;
    height: 170px;
    background-color: rgba(179, 22, 65, 0.7);
    font-size: 64px;
    text-align: center;
    line-height: 170px;
    color: white;
}
  
main{
    border: 1px solid black;
    width: 1200px;
    margin: 0 auto;
}


  /* form排版 */
form.customize_form{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;
}
  
button.form_button{
    grid-column: 1 / span 2;
    margin: 0 auto;
    width: 200px;
}