@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/index/index_banner.png);
  height: 600px;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

/* 主要內容們 */
main{
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* slogan */
img.scroll_sign{
  /* border: 1px solid red; */
  width: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

h2.slogan{
  /* border: 1px solid red; */
  margin: 0;
  text-align: center;
  padding: 150px;
}

/* 動畫圖片：還沒做！ */
div.pic_animation{
  /* border: 1px solid black; */
  height: 360px;
  position: relative;
}

img.pic1{
  width: 996px;
  position: absolute;
  left: 0;
}

img.pic2{
  width: 996px;
  position: absolute;
  left: 100px;
}

img.pic3{
  width: 996px;
  position: absolute;
  right: 0;
}

/* 文字串一 */
main div.pargh1{
  /* border: 1px solid black; */
  margin: 50px 0;
  position: relative;
  height: 350px;
}
div.pargh1 h2{
  /* border: 1px solid blue; */
  text-align: center;
  background-color: #0E376F;
  color: white;
  width: 386px;
  position: absolute;
  left: calc(50% - 193px);
  top: 55px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  z-index: 2;
}

div.pargh1 pre{
  /* border: 1px solid blue; */
  text-align: center;
  width: 996px;
  margin: 100px 0;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
  left: 100px;
  line-height: 30px;
  background-color: rgba(97, 131, 216, 0.7);
  font-size: 16px;
  border-radius: 10px;
}

/* 熱門景點 */
div.hot_spot{
  /* border: 1px solid black; */
  margin-top: 50px;
}

h1.title{
  /* border: 1px solid blue; */
  text-align: center;
  margin: 0;
  height: 150px;
  line-height: 150px;
  position: relative;
  font-size: 36px;
}

h1.title::before{
  content: "";
  /* border: 1px solid red; */
  display: inline-block;
  width: 144px;
  height: 35px;
  background: #EB9090;
  position: absolute;
  top: 40px;
  left: 500px;
  z-index: -1;
}

ul.hot_spot_list{
  /* border: 1px solid green; */
  list-style: none;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
  display: flex;
  justify-content: space-around;
}

ul.hot_spot_list::before{
  content: "";
  /* border: 3px solid red; */
  display: inline-block;
  width: 35px;
  height: 55px;
  position: absolute;
  background-image: url(../images/index/arrow_left.png);
  background-repeat: no-repeat;
  z-index: 2;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

ul.hot_spot_list::after{
  content: "";
  /* border: 3px solid red; */
  display: inline-block;
  width: 35px;
  height: 55px;
  position: absolute;
  background-image: url(../images/index/arrow_right.png);
  background-repeat: no-repeat;
  z-index: 2;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

ul.hot_spot_list > li{
  /* border: 1px solid red; */
  display: inline-block;
  /* margin: 0 calc((100% - 1000) / 8);
  寬度調整很詭異先用flex處理
  之後應該用套件做可輪播動畫*/
}

div.spot{
  text-decoration: none;
  display: block;
  width: 250px;
  position: relative;
}

div.spot > a{
  text-decoration: none;
  /* width: 25%; */
}

div.spot > a > img{
  width: 100%;
  display: inline-block;
}

div.spot_name{
  /* border: 1px solid black; */
  color: white;
  text-align: center;
  background-color: rgba(106, 106, 106, 0.7);
  width: 100%;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  line-height: 70px;
}

/* 必看攻略 */
div.must_see{
  /* border: 1px solid black; */
  margin-top: 150px;
}

ul.must_see_list{
  /* border: 1px solid black; */
  list-style: none;
  padding: 0;
  font-size: 0;
}

ul.must_see_list > li{
  display: inline-block;
  width: 386px;
  position: relative;
}

ul.must_see_list > li:nth-child(2), ul.must_see_list > li:nth-child(3){
  margin-left: 18px;
}

ul.must_see_list > li > a{
  text-decoration: none;
}

ul.must_see_list > li > a > img{
  width: 100%;
  display: block;
}

div.must_see_title{
  /* border: 1px solid red; */
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ROUTINE&SPECIAL */
div.special, div.routine{
  /* border: 1px solid black; */
  width: 996px;
  hetht: 300px;
  margin: 200px auto;
  font-size: 0;
}

div.special_left, div.routine_left{
  /* border: 1px solid red; */
  display: inline-block;
  width: calc(100% - 590px);
  height: 300px;
  vertical-align: top;
}

div.special_left h2, div.routine_left h2{
  /* border: 1px solid black; */
  font-size: 24px;
  text-align: center;
  height: 90px;
  line-height: 90px;
  font-weight: bolder;
  position: relative;
}

div.special_left h2::before, div.routine_left h2::before{
  content: "";
  /* border: 1px solid blue; */
  width: 100px;
  height: 30px;
  display: inline-block;
  position: absolute;
  background-color: #91A8E3;
  z-index: -1;
  left: 135px;
  top: 15px;
}

div.special_left h2::before{
  background-color: #EB9090;
}

div.special_left p, div.routine_left p{
  /* border: 1px solid black; */
  font-size: 18px;
  margin: 0 35px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

div.special_right, div.routine_right{
  /* border: 1px solid green; */
  display: inline-block;
  width: 590px;
  position: relative;
}

div.special_right img, div.routine_right img{
  width: 100%;
}

div.special_right h1, div.routine_right h1{
  /* border: 1px solid blue; */
  border-radius: 10px;
  background-color: rgba(145, 168, 227, 0.7);
  font-size: 24px;
  color: white;
  font-weight: bolder;
  position: absolute;
  text-align: center;
  width: 387px;
  height: 70px;
  line-height: 70px;
  margin: 0 calc((100% - 387px) / 2);
  top: 50%;
  transform: translateY(-50%);
}

div.special_right h1{
  background-color: rgba(235, 144, 144, 0.7);
}

/* 訂閱 */
div.subscribe{
  /* border: 1px solid black; */
  width: 996px;
  margin: 200px auto;
}

div.subscribe p{
  /* border: 1px solid red; */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  height: 80px;
  line-height: 80px;
  width: 590px;
  margin: 0 auto;
  position: relative;
}

div.subscribe p::after{
  content: "";
  display: inline-block;
  /* border: 1px solid red; */
  width: 470px;
  height: 25px;
  position: absolute;
  z-index: -1;
  background-color: #EB9090;
  right: 40px;
  top: 50%;
}

div.subscribe_type{
  /* border: 1px solid black; */
  margin: 100px 0;
  height: 50px;
}

div.subscribe_type input{
  border: 0 none;
  border-bottom: 3px solid black;
  width: 792px;
  height: 25px;
  font-size: 24px;
  padding:10px;
}

div.subscribe_type input:focus{
  outline: none;
}

div.subscribe_type button{
  width: 183px;
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #EB9090;
  border: 0 none;
  border-radius: 5px;
}

div.subscribe_type button:hover{
  cursor: pointer;
  background-color: #A0B4E7;
}
