@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* banner */
div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/index/index_banner.png);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

/* 主要內容們 */
main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
