@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* 標題大banner */
div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/must_see/banner.png);
  height: 600px;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

/* 結構 */
main{
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
}

/* 標題 */
div.title{
  /* border: 1px solid red; */
  display: flex;
  margin-top: 100px;
}

div.topic{
  /* border: 1px solid black; */
  flex-grow: 1;
}

div.topic h2{
  /* border: 1px solid black; */
  color: white;
  background-color: #0E376F;
  font-size: 36px;
  width: 380px;
  text-align: center;
  margin: 0;
}

div.topic p{
  width: 585px;
  text-align: center;
}

div.author p{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: bottom;
  margin: 15px 0;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
}

div.author img{
  /* border: 1px solid black; */
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
  margin: 15px;
}

/* 內文 */
article > div{
  /* border: 1px solid black; */
  width: 1000px;
  margin: 40px auto;
  font-size: 18px;
}

div.sub3_card{
  width: 800px;
}

div.sub_words p:last-child{
  /* border: 1px solid black; */
  font-size: 14px;
}

article p{
  line-height: 40px;
}

article > div > h3{
  font-weight: bolder;
  font-size: 20px;
}

div.text, div.text_card{
  display: flex;
}

div.text_inside{
  padding: 20px;
}
