@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

/* 標題大banner */
div.banner_img{
  /* border: 1px solid black; */
  background-image: url(../images/spot/banner.png);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
@media all and (max-width: 767.98px){
    /* width: 540px; */
    div.banner_img{
      height: 350px;
    }
}
@media all and (min-width: 768px) and (max-width: 1199.98px){
    /* width: 960px; */
    div.banner_img{
      height: 450px;
    }
}


/* 結構 */
main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

/* 標題 */
div.title{
  /* border: 1px solid red; */
  display: flex;
  width: 92%;
  margin: 0 4%;
  margin-top: 100px;
}

div.topic{
  /* border: 1px solid black; */
  flex-grow: 1;
}
div.topic h2{
  /* border: 1px solid black; */
  color: white;
  background-color: #0E376F;
  font-size: 36px;
  width: 380px;
  text-align: center;
  margin: 0;
  padding: 2% auto;
}
div.tag_list{
  /* border: 1px solid black; */
  margin-left: 150px;
}
div.tag_list > a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  margin: 0 10px;
}
div.tag_list > a:hover{
  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
}

div.author p{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: bottom;
  margin: 15px 0;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
}
div.author img{
  /* border: 1px solid black; */
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
  margin: 15px;
}
@media all and (max-width: 359.98px){
  div.title{
    margin-top: 40px;
    flex-direction: column;
  }
  div.topic{
    margin-bottom: 2%;
  }
  div.topic h2{
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  div.tag_list, div.author{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  div.tag_list a{
    font-size: 12px;
  }
  div.author p{
    font-size: 10px;
    margin: 0;
    height: 30px;
    line-height: 30px;
  }
  div.author img{
    width: 30px;
    margin: 0;
  }

}

@media all and (min-width: 360px) and (max-width: 575.98px){
  /* width: 320px */
  div.title{
    margin-top: 50px;
    flex-direction: column;
  }
  div.topic{
    margin-bottom: 2%;
  }
  div.topic h2{
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  div.tag_list, div.author{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  div.tag_list a{
    font-size: 14px;
  }
  div.author p{
    font-size: 12px;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  div.author img{
    width: 40px;
    margin: 0;
  }
}

@media all and (min-width: 576px) and (max-width: 767.98px){
  /* width: 540px; */
  div.title{
    margin-top: 60px;
    flex-direction: column;
  }
  div.topic{
    margin-bottom: 2%;
  }
  div.topic h2{
    font-size: 32px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  div.tag_list, div.author{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  div.tag_list a{
    font-size: 18px;
  }
  div.author p{
    font-size: 16px;
    margin: 0;
    height: auto;
  }
  div.author img{
    width: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 991.98px){
  /* width: 720px; */
  div.title{
    margin-top: 80px;
  }

}

@media all and (min-width: 992px) and (max-width: 1199.98px){
  /* width: 960px; */
  div.title{
    margin-top: 100px;
  }
}



/* 內文 */
article > div{
  /* border: 1px solid black; */
  width: 90%;
  margin: 40px auto;
  font-size: 18px;
}
article > div > div.picture{
  max-width: 40%;
}
article > div > div.picture img{
  width: 100%;
  height: auto;
  margin: auto 0;
}
div.open > p:last-child{
  font-weight: bold;
}
div.text{
  display: flex;
}
div.text_inside{
  padding: 20px;
}
article p{
  line-height: 40px;
  font: 16px;
}
article > div > h3{
  font-weight: bolder;
  font-size: 20px;
}
@media all and (max-width: 359.98px){
  div.text{
    flex-direction: column;
  }

}

@media all and (min-width: 360px) and (max-width: 575.98px){
   /* width: 320px */
   div.text{
     flex-direction: column;
   }

}

@media all and (min-width: 576px) and (max-width: 767.98px){
    /* width: 540px; */
    div.text{
      flex-direction: column;
    }

}

@media all and (min-width: 768px) and (max-width: 991.98px){
    /* width: 720px; */
}

@media all and (min-width: 992px) and (max-width: 1199.98px){
    /* width: 960px; */
}
