header{
  /* border: 1px solid black; */
  width: 100%;
  margin: 0 auto;
  background-color: #C4C4C4;
  position: relative;
  z-index: 20;
}

nav.nav{
  /* border: 1px solid red; */
  vertical-align: top;
  background-color: #C4C4C4;
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  position: relative;
}

nav img.logo_img{
  /* border: 1px solid blue; */
  /* width: 183px; */
  height: 70px;
  margin: 5px;
  display: inline-block;

}

nav ul.nav_list{
  /* border: 1px solid blue; */
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0px;
}

nav ul.nav_list > li{
  /* border: 1px solid blue; */
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  width: 120px;
  margin: 0;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
}

div.kr_travel ul, div.uni_service ul{
  /* border: 3px solid white; */
  border-top: 3px solid rgba(1, 1, 1, 0);;
  list-style: none;
  text-align: center;
  width: 120px;
  padding: 0;
  display: none;
}

ul.nav_list li:first-child:hover ul.kr_travel_list{
  display: block;
}

ul.nav_list li:nth-child(2):hover ul.uni_service_list{
  display: block;
}

div.kr_travel ul li, div.uni_service ul li{
  background-color: #C4C4C4;
  width: 120px;
  height: 60px;
  line-height: 60px;
}

div.kr_travel ul > li > a, div.uni_service ul > li > a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav ul.nav_list > li > a{
  color: black;
  text-decoration: none;
}

/* hover效果、修正 */

/* nav ul.nav_list > li:hover{
  color: white;
  text-shadow: 0 0 5px rgba(106, 106, 106, 0.8);
} */

nav ul.nav_list > li > a:hover{
  color: white;
  text-shadow: 0 0 5px rgba(106, 106, 106, 0.8);
}

div.kr_travel ul > li > a:hover, div.uni_service ul > li > a:hover{
  color: white;
  text-shadow: 0 0 5px rgba(106, 106, 106, 0.8);
}
